body {
  background-color: #0466c8;
}
p {
  font-family: Arial, sans-serif;
  color: #7d8597;
}
h1 {
  font-size: 2em;
  color: #7d8597;
  text-align: center;
}
.listTitle {
  font-weight: bold;
  color: #7d8597;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #0353a4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
a {
  color: #020c23;
}
a:hover {
  color: #0c1e46;
  transition: color 0.3s ease;
}
